.project{
    max-width: 100vw;
}

.project h2{
    text-align: center;
}

.project h2 i{
    margin-left: 20px;
}

.project__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
}

.project__card{
    border: 1px solid #0000FF;
    margin: 10px;
    position: relative;
}


@media (max-width:740px){
    .project{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .project__cards{
        grid-template-columns: 1fr;
    }
}

.project__title{
    position: relative;
    bottom: 0;
    text-align: center;
    background: #0000FF;
    padding: 30px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
}

.project__link{
    color: white;
}