@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Reggae One";
}

.menu:hover{
    border-bottom: 3px solid crimson;
}

@media (max-width : 640px){
    .sidebar{
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        width: 100%;
        height: 20vh;
        text-align: center;
    }
    .menu{
        margin-right: 20px;
        position:relative;
        top: 20px;
        font-size: 20px;
    }
}

.sidebar{
        color: white;
        background-color: black;
        color: crimson;
        position: fixed;
}

@media (min-width:640px){
    .sidebar{
        background-color: black;
        border-top-right-radius: 30%; 
        border-bottom-right-radius: 90%;
        width: 30%;
        height: 100vh;
    }

    .menu{
        width: 170px;
        position: relative;
        top: 30%;
        left: 30%;
        line-height: 200%;
        cursor: pointer;
        font-size:200%;
        justify-content: center;
        align-items: center;
        display: block;
    }
}
.menu{
    text-align: center;
}

.body{
    margin-left: 40px;
}

.app{
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.about{
    display: grid;
    text-align: center;
    margin-top: 10%;
}

.box{
    background-color: black;
    width: 60%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0.2rem 1.2rem 2rem 10px rgb(31, 44, 44);
    margin-top: 20px;
}

.profile{
    border-radius: 70%;
    width: 200px;
}

.info{
    color: crimson;
}
.info .name{
    color: cyan;
    font-size: 30px;
}

.info span{
    color: white;
}


.bio h2{
    text-decoration: underline;
    margin-bottom: 10px;
}
.extra{
    width: 60%;
    margin-top: 6%;
    text-align: center;
    color: white;
}

.contact{
    position: relative;
    /* left: 20%; */
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.contact h2{
    margin-right: 20%;
}
.contact-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 20%;
    border: 1px solid black;
    background-color: crimson;
    border-radius: 20px;
    padding: 20px;
    margin-top: 5%;
}
.contact-card{
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    color: white;
    /* width: 60%; */
    box-shadow: .1rem .2rem 2rem .1rem black;
}

.coming-soon{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-right: 25%; */
    margin-top: 2%;
}

.white{
    color: white;
}

.text-center{
    text-align: center;
}

.skill{
    font-size: 30px;
    border: 2px solid teal;
    border-radius: 10%;
    margin: 4px;
    padding: 2px;
}

h2{
    color: crimson;
    text-transform: uppercase;
}